/*
  arrival-us website

  Authors: Lucas Eastman, Dylan Jones-Miller, Charley Tran
  Date: 4.25.18

  Filename: base.css
*/

@media only screen and (min-width: 300px) {

  /* ########## */
  /* Body */
  /* ########## */

  body {
    background: url(../images/new.jpeg) 100% / cover fixed;
  }

  /* ############ */
  /* Header */
  /* ############ */

  header img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15%;
    length: 15%;
  }

  /* ################## */
  /* Floating Nav */
  /* ################## */

  #floatingnav {
    /*display: none;*/
  }

  /*#floatingnav {
    display: flex;
    flex: row nowrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0%;
    width: 50%;
  }

  #floatingnav a {
    width: 25%;
    padding: 10px 0;
    text-align: center;
    color: white;
    background: rgb(211,211,211, 95%);
    border-bottom: 3px solid rgb(211,211,211, 95%);
    transition: width 0.35s, color 0.5s, background-color 1s, border-bottom 1s;
  }

  #floatingnav a:first-of-type {
    border-bottom-left-radius: 10px;
  }

  #floatingnav a:hover {
    width: 45%;
    /*color: rgb(0,144,255);*/
    /*color: black;
    background-color: rgb(250, 250, 250);
    border-bottom: 3px solid gray;
  }

  #floatingnav a:visited, a:link {
    text-decoration: none;
  }*/

  /* ########## */
  /* Main */
  /* ########## */

  main {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 15% auto 5%;
    width: 90%;
    border-radius: 10px;
  }

  /* ############ */
  /* Footer */
  /* ############ */

  footer {
    margin: 5%;
    text-align: center;
    color: white;
  }

  section#copyright {
    padding-top: 1%;
  }

  div#buttons input {
    padding: 5%;
  }
}
