/*
  arrival-us website

  Authors: Lucas Eastman, Dylan Jones-Miller, Charley Tran
  Date: 4.25.18

  Filename: base.css
*/

/* ########## */
/* Body */
/* ########## */

body {
  /*background: linear-gradient(#10b7e7, #d44d4d)*/
  background:linear-gradient(0deg, rgb(187,19,62) 20%, rgb(0,10,130), rgb(211,211,211) 90%);
  background-color: black;
}

/* ########## */
/* Main */
/* ########## */

main {
  display: block;
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 5%;
  border-radius: 10px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

section#about {
  padding: 5%;
}

section#sections {
  padding: 5%;
}

/* ############# */
/* Landing */
/* ############# */

section#landing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 5%;
}

section#landing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

section#landing h3 {
  padding: 3%;
}

/* ############ */
/* Header */
/* ############ */

nav {
 background: rgb(211,211,211);
 width: 100%;
 length: auto;
 line-height: 350%;

}

nav a {
  margin-left: 2%;
  margin-right:2%;
  color: white;
}


nav a:hover {
  color: rgb(0,144,255);
  text-decoration-style: solid;
  text-decoration: underline;
}

nav a:visited, a:link {
  text-decoration: none;
}

header img{
 width: 5%;
 length: 5%;
 float: right
}

/* ############ */
/* Footer */
/* ############ */

footer {
  margin: 5%;
  text-align: center;
  color: white;
}

section#copyright {
  padding-top: 1%;
}
section#landing {
  text-align:center;
  padding-top: 5%;

}
section#landing h1{
  margin: 0 0 0.25em 0;
  text-shadow: 0.5px 0.5px red;
}
section#landing h3{
  margin-left: auto;
  margin-bottom: 2em;
  text-shadow: 0.5px 0.5px rgb(0,10,130)
}
