/*
  arrival-us website

  Authors: Lucas Eastman, Dylan Jones-Miller, Charley Tran
  Date: 4.28.18

  Filename: index.css
*/

/* ############# */
/* Landing */
/* ############# */

/* ########## */
/* Main */
/* ########## */

div.col img{
  width: 80%;
  height: 90%;
  border: ridge .5em;
  border-radius: 2em;
  border-color: purple;
  position: absolute;
  left: 50px;
}

#headingbreak {
  margin: 25px 0;
  width: 50%;
  border: inset;
  border-width: 1px;
  border-color: purple;
}

.secbreak {
  margin: 50px auto;
  background-color: rgb(230, 230, 230);
}
